
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome To Student Service!</h1>
<div class="text-center">
    <img class="img-rounded img-responsive" alt="@ViewBag.Title" src="~/Content/Images/service.jpeg" />
</div>

